* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-size: cover;
  user-select: none;
  outline-color: tomato;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background-color: #616161;
}

/*? navbar */
.nav_items {
  padding-bottom: 1rem;
}
.nav_items:hover > span {
  width: 100%;
}
.category_nav_item:hover .categoriesItem {
  display: grid;
}
.men_nav_item:hover .hoveredItems,
.women_nav_item:hover .hoveredItems,
.jewelry_nav_item:hover .hoveredItems,
.perfume_nav_item:hover .hoveredItems {
  display: flex;
}
.categoriesItem {
  width: 70rem;
  left: -13.5rem;
  animation: hoverAnimation 0.3s ease-in-out forwards;
}
.hoveredItems {
  z-index: 10;
  animation: hoverAnimation 0.3s ease-in-out forwards;
}
.desktopNavbar a:hover {
  color: tomato;
}
@keyframes hoverAnimation {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1150px) {
  .desktopNavbarUl {
    gap: 2rem !important;
  }
  .categoriesItem {
    width: 60rem !important;
    left: -10.5rem;
  }
}
details {
  display: flex;
  align-items: flex-start;
}
details a {
  margin: 0.3rem;
  margin-top: 1rem;
  color: #899098;
}
details a:hover {
  color: tomato;
}
details > summary {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "+ ";
}

details[open] > summary::before {
  content: "- ";
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

#sidebarNavbar,
#sidebarCategories {
  animation: mobileNavbar 0.5s ease-in-out forwards;
}
@keyframes mobileNavbar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  from {
    opacity: 1;
    transform: translateX(-100%);
  }
}
#newspaperBox {
  animation: newspaper 0.4s ease-in-out forwards;
}
@keyframes newspaper {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#sidebarNavbar.show,
#sidebarCategories.show,
#overlayNavbar.show,
#newspaper.show {
  display: flex;
}
/* main  Banner */
.swiper {
  width: 80%;
  height: 60vh;
}
.categories_swiper {
  width: 80%;
  height: 5rem !important;
  display: flex;
}
.blog_swiper {
  width: 85%;
  height: 20rem !important;
}
.swiper-scrollbar-drag,
.swiper-scrollbar {
  background-color: transparent !important;
}
.swiper:hover .swiper-scrollbar {
  background-color: #f776569c !important;
}
.swiper:hover .swiper-scrollbar-drag {
  background-color: tomato !important;
}
@media screen and (max-width: 1100px) {
  .swiper {
    height: 40vh;
  }
}
/* product */
.aside_section::-webkit-scrollbar {
  width: 0.3rem !important;
  display: block;
}
.aside_section::-webkit-scrollbar-button {
  height: 5rem !important;
  background-color: transparent;
}
.aside_section::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: transparent;
}

.aside_section::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.aside_section:hover::-webkit-scrollbar-track {
  background-color: #616161 !important;
}
.aside_section:hover::-webkit-scrollbar-thumb {
  background-color: tomato !important;
}

.product_hover_pic {
  opacity: 0;
  transition: 0.2s;
}
.product_pic:hover .product_hover_pic {
  opacity: 1;
  transform: scale(1.2);
}
.productOptions {
  animation: productopt 0.2s ease-out forwards;
}

.product_pic:hover .productOptions {
  display: flex !important;
}
@keyframes productopt {
  from {
    transform: translateX(2rem);
  }
  to {
    transform: translateX(0);
  }
}
/*! footer */
hr {
  border-color: rgba(116, 116, 116, 0.733) !important;
}
hr.title {
  border-color: tomato !important;
}
footer a:hover {
  color: tomato;
}
